<div class="jumbotron">
<h1>What is this place?</h1>
<p>Glad you asked. Pinteresting is my little Ruby on Rails playground, following the ever so amazing <%= link_to "One Month Rails", "http://onemonth.com/courses/one-month-rails/" %> video course.</p>
<h2>Who are you?</h2>
<p>I'm Kieran. Nice to meet you.
</div>