<div class="jumbotron center">

	<h1>Welcome to Pinteresting!</h1>
	<p>Why don't you <%= link_to "Join Us", "#", class:"btn btn-primary btn-lg" %> or <%= link_to "Log In", "#", class:"btn btn-primary btn-lg" %></p>

</div>